@font-face {
    font-family: 'open_sansbold';
    src: url('../fonts/opensans-bold-webfont.eot');
    src: url('../fonts/opensans-bold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/opensans-bold-webfont.woff2') format('woff2'), url('../fonts/opensans-bold-webfont.woff') format('woff'), url('../fonts/opensans-bold-webfont.ttf') format('truetype'), url('../fonts/opensans-bold-webfont.svg#open_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sanslight';
    src: url('../fonts/opensans-light-webfont.eot');
    src: url('../fonts/opensans-light-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/opensans-light-webfont.woff2') format('woff2'), url('../fonts/opensans-light-webfont.woff') format('woff'), url('../fonts/opensans-light-webfont.ttf') format('truetype'), url('../fonts/opensans-light-webfont.svg#open_sanslight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sansregular';
    src: url('../fonts/opensans-regular-webfont.eot');
    src: url('../fonts/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/opensans-regular-webfont.woff2') format('woff2'), url('../fonts/opensans-regular-webfont.woff') format('woff'), url('../fonts/opensans-regular-webfont.ttf') format('truetype'), url('../fonts/opensans-regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sanssemibold';
    src: url('../fonts/opensans-semibold-webfont.eot');
    src: url('../fonts/opensans-semibold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/opensans-semibold-webfont.woff2') format('woff2'), url('../fonts/opensans-semibold-webfont.woff') format('woff'), url('../fonts/opensans-semibold-webfont.ttf') format('truetype'), url('../fonts/opensans-semibold-webfont.svg#open_sanssemibold') format('svg');
    font-weight: normal;
    font-style: normal;
}

.navbar-toggle .icon-bar {
    display: block;
    width: 29px;
    height: 3px;
    border-radius: 0;
    background: #fff;
}



a:hover {
    color: #333;
}

a:active,
a:hover {
    outline: 0;
}

a {
    color: #0000EE;
    text-decoration: none;
}

body {
    background-color: #fff;
    color: #333;
    font-family: 'open_sansregular', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.625;
    margin: 0;
}

.col-spc {
    display: inline-block;
    margin-bottom: 15px;
    width: 100%;
}
.col-spc .col-img {
    float: left;
    margin-right: 18px;
    width: 45%;
}
.safe_bx.spc_bx {
    margin-left: 20px;
}
.safe_bx.spc_bx li{
    list-style-type: none;
    position: relative;
}
.safe_bx.spc_fx li p{
    margin-bottom: 10px;
    font-weight: bold;
}
.safe_bx {
    margin-left: 20px;
}
.safe_bx li{
    list-style-type: none;
    position: relative;
}

.safe_bx > li .sq {
    background: #0f9c57 none repeat scroll 0 0;
    height: 10px;
    left: -20px;
    margin-right: 10px;
    margin-top: 9px;
    position: absolute;
    width: 10px;
}

.site-header {
    background-color: #0f9c57;
    min-height: 79px;
}

.site-header .wrap {
    padding: 0px 0;
}

p {
    margin: 0 0 28px;
    padding: 0;
}

strong.subheading_box {
    font-size: 20px;
}

.navbar-right li a {
    font-weight: 400;
    display: block;
    color: #fff;
    padding: 30px 18px;
    font-size: 17px;
}

.navbar-right li a:hover {
    color: #e5554e;
    background: none;
}

.navbar-brand {
    float: left;
    height: 50px;
    padding: 0px 0px;
    font-size: 18px;
    line-height: 20px;
}

.content_section h1 {
    margin-top: 0;
    padding: 20px 0px;
    font-size: 28px;
    font-family: 'open_sansbold', sans-serif;
}

.size-full {
    width: 100%;
    height: auto;
}

.biotech_inc {
    display: inline-block;
    width: 100%;
}

.biotech_inc .leftbar_bx {
    float: left;
    width: 68%;
}

.biotech_inc .righbar_bx {
    float: right;
    width: 29%;
}

.boxes_col li {
    float: left;
    list-style-type: none !important;
    width: 20%;
}

.boxes_col ul {
    margin: 0;
    padding: 0;
}

.boxes_rw {
    display: inline-block;
    margin-bottom: 5px;
    margin-top: 14px;
    width: 100%;
}

.boxes_rw .boxes_col {   
    float: left;
    margin-right: 33px;
    width: 41%;
}

.boxes_rw .boxes_col.sec {
    float: right;
    margin-right: 0;
    width: 50%;
}

.main_div {
    display: inline-block;
    margin-bottom: 19px;
    width: 100%;
}

.main_div b.num {
    float: left;
}

.main_div .img_div {
    float: left;
    padding: 1px 26px;
}

.main_div .img_div img {
    margin-top: 7px;
}

.right_bg span {
    color: #fbc300;
    display: inline-block;
    margin-bottom: 13px;
}

.right_bg > p {
    margin-bottom: 0;
}

.right_bg .form_right p {
    margin-bottom: 3px;
}

.right_bg .form_right input {
    font-size: 16px;
    height: 45px;
    padding: 4px 10px;
    font-weight: 300;
    margin: 8px 0px;
    width: 95%;
    color: #000;
    font-weight: normal;
    font-family: 'open_sansregular', sans-serif;
}

.right_bg .form_right .button-submit {
    background: #0d8d4d;
    display: inline-block;
    padding: 8px 29px;
    width: auto;
    border: none;
    text-transform: uppercase;
	color: #fff;
}

.right_bg > p {
    margin-bottom: 0;
}

.right_bg .form_right {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0 !important;
    padding: 10px;
}

.right_bg strong {
    color: #fff;
    display: inline-block;
    font-size: 38px;
    line-height: 28px;
    margin-bottom: 14px;
    margin-top: 15px;
    text-transform: uppercase;
}

.right_bg {
    background: url("../img/sensex.png") top center no-repeat;
    color: #fff;
    font-size: 14px;
    text-align: center;
    background-size: cover;
    font-family: open_sansbold;
    font-weight: 100;
}

.right_bg strong span {
    font-family: open_sansbold;
    font-size: 30px;
    margin-bottom: 4px;
    font-weight: 100;
}

.text_list {
    margin: 0 auto 9px;
    text-align: left;
    width: 62%;
    font-family: open_sansregular;
}

.right_bg > p b {
    font-size: 16px;
}

.container {
    max-width: 1000px;
}

.subscr_sect {
    background: rgba(0, 0, 0, 0) url("../img/sensex_img.jpg") no-repeat scroll center top / cover;
    margin-bottom: 40px;
    margin-top: 40px;
}

.subscr_sect .subs_form {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0 !important;
    display: inline-block;
    margin: 0 auto;
    max-width: 670px;
    width: 100%;
    padding: 30px;
}

.subscr_sect .main_col {
    text-align: center;
padding: 60px;
clear: both;
padding-top: 0px;
padding-bottom: 90px;
}

.subscr_sect .main_col h2 {
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 18px;
    padding-top: 30px;
    text-align: center;
    font-weight: 100;
    font-family: open_sansbold;
}

.subscr_sect .main_col h2 span {
    color: #fbc300;
}

.subscr_sect .main_col p {
    color: #fff;
    line-height: 21px;
    margin-bottom: 0;
    margin-top: 4px;
    text-align: center;
}

.subscr_sect .main_col p a {
    color: #fbc300;
    font-weight: bold;
}

.subscr_sect .input {
    float: left;
    height: 56px;
    margin-bottom: 16px;
    width: 460px;
    padding: 10px;
}

.subscr_sect .submit_bx {
    float: none;
    margin-left: -27px;
    padding: 13px 30px;
    width: auto;
    background: #0d8d4d none repeat scroll 0 0 !important;
    border: none;
    color: #fff;
    text-transform: uppercase;
}

.widget.button {
    background-color: #333;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    font-weight: 300;
    padding: 16px 24px;
    text-transform: uppercase;
    width: auto;
}

.res_bx span {
    float: left;
    font-size: 16px;
    margin-right: 18px;
    width: 52%;
}

.res_bx a {
    background: #0f9c57 none repeat scroll 0 0;
    color: #fff;
    display: inline-block;
    font-size: 15px;
    margin-top: 1px;
    padding: 16px 32px;
}

.horizon_line {
    background: #0f9c57 none repeat scroll 0 0;
    height: 2px;
    margin-bottom: 40px;
    margin-top: 40px;
    width: 100%;
}

.mce-error-response-sidebar a{color: red}
/* ## Title Area
--------------------------------------------- */

.title-area {
    float: left;
    padding: 0px 0;
    width: 34%;
}

.header-full-width .title-area {
    width: 100%;
}

.site-title {
    font-size: 32px;
    font-weight: 400;
    line-height: 1.2;
}

.site-title a,
.site-title a:hover {
    color: #333;
}

.header-image .site-title > a {
    background: url(images/tms-header-logo.png) no-repeat left;
    float: left;
    min-height: 78px;
    width: 100%;
}

.site-description {
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5;
}

.site-description,
.site-title {
    margin-bottom: 0;
}

.header-image .site-description,
.header-image .site-title {
    display: block;
    text-indent: -9999px;
}


/* ## Widget Area
--------------------------------------------- */

.site-header .widget-area {
    float: right;
    text-align: right;
    width: 800px;
}


/* # Site Navigation
---------------------------------------------------------------------------------------------------- */

.genesis-nav-menu {
    clear: both;
    font-size: 17px;
    line-height: 1;
    width: 100%;
}

.genesis-nav-menu .menu-item {
    display: inline-block;
    text-align: left;
}

.genesis-nav-menu a {
    color: #fff;
    font-weight: 400;
    display: block;
    padding: 30px 16px;
}

.genesis-nav-menu a:hover,
.genesis-nav-menu .current-menu-item > a,
.genesis-nav-menu .sub-menu .current-menu-item > a:hover {
    color: #e5554e;
}

.genesis-nav-menu .sub-menu {
    left: -9999px;
    opacity: 0;
    position: absolute;
    -webkit-transition: opacity .4s ease-in-out;
    -moz-transition: opacity .4s ease-in-out;
    -ms-transition: opacity .4s ease-in-out;
    -o-transition: opacity .4s ease-in-out;
    transition: opacity .4s ease-in-out;
    width: 200px;
    z-index: 99;
}

.genesis-nav-menu .sub-menu a {
    background-color: #fff;
    border: 1px solid #eee;
    border-top: none;
    font-size: 14px;
    padding: 20px;
    position: relative;
    width: 200px;
}

.genesis-nav-menu .sub-menu .sub-menu {
    margin: -55px 0 0 199px;
}

.genesis-nav-menu .menu-item:hover {
    position: static;
}

.genesis-nav-menu .menu-item:hover > .sub-menu {
    left: auto;
    opacity: 1;
}

.genesis-nav-menu > .first > a {
    padding-left: 0;
}

.genesis-nav-menu > .last > a {
    padding-right: 0;
}

.genesis-nav-menu > .right {
    color: #fff;
    float: right;
    list-style-type: none;
    padding: 30px 0;
}

.genesis-nav-menu > .right > a {
    display: inline;
    padding: 0;
}

.genesis-nav-menu > .rss > a {
    margin-left: 48px;
}

.genesis-nav-menu > .search {
    padding: 10px 0 0;
}


/* ## Site Header Navigation
--------------------------------------------- */

.site-header .sub-menu {
    border-top: 1px solid #eee;
}

.site-header .sub-menu .sub-menu {
    margin-top: -56px;
}

.site-header .genesis-nav-menu li li {
    margin-left: 0;
}


/* ## Primary Navigation
--------------------------------------------- */

.nav-header {
    float: right;
    text-align: right;
    width: 66%;
}

.nav-primary {
    background-color: #333;
}

.nav-primary .genesis-nav-menu a {
    color: #fff;
}

.nav-primary .genesis-nav-menu .sub-menu a {
    color: #333;
}

.nav-primary .genesis-nav-menu a:hover,
.nav-primary .genesis-nav-menu .current-menu-item > a,
.nav-primary .genesis-nav-menu .sub-menu .current-menu-item > a:hover {
    color: #e5554e;
}


/* ## Secondary Navigation
--------------------------------------------- */

.nav-secondary {
    background-color: #fff;
}


/* # Content Area
---------------------------------------------------------------------------------------------------- */


/* ## Entries
--------------------------------------------- */

.entry {
    margin-bottom: 40px;
    padding: 0px 0px;
}

.content .entry {
    background-color: #fff;
}

.entry-content ol,
.entry-content ul {
    margin-bottom: 15px;
    margin-left: 0px;
}

.entry-content ol > li {
    list-style-type: decimal;
}

.entry-content ul > li {
    list-style-type: disc;
}

.entry-content ol ol,
.entry-content ul ul {
    margin-bottom: 0;
}

.entry-content code {
    background-color: #333;
    color: #ddd;
}


/* ## Entry Meta
--------------------------------------------- */

p.entry-meta {
    font-size: 16px;
    margin-bottom: 0;
}

.entry-header .entry-meta {
    margin-bottom: 24px;
}

.entry-footer .entry-meta {
    border-top: 2px solid #f5f5f5;
    padding-top: 24px;
}

.entry-categories,
.entry-tags {
    display: block;
}

.entry-comments-link::before {
    content: "\2014";
    margin: 0 6px 0 2px;
}


/* ## Pagination
--------------------------------------------- */

.pagination {
    clear: both;
    margin: 40px 0;
}

.adjacent-entry-pagination {
    margin-bottom: 0;
}

.archive-pagination li {
    display: inline;
}

.archive-pagination li a {
    background-color: #333;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    padding: 8px 12px;
}

.archive-pagination li a:hover,
.archive-pagination .active a {
    background-color: #e5554e;
}


/* ## Comments
--------------------------------------------- */

.comment-respond,
.entry-comments,
.entry-pings {
    background-color: #fff;
    margin-bottom: 40px;
}

.comment-respond,
.entry-pings {
    padding: 40px 40px 16px;
}

.entry-comments {
    padding: 40px;
}

.comment-header {
    font-size: 16px;
}

li.comment {
    background-color: #f5f5f5;
    border: 2px solid #fff;
    border-right: none;
}

.comment-content {
    clear: both;
}

.comment-list li {
    margin-top: 24px;
    padding: 32px;
}

.comment-list li li {
    margin-right: -32px;
}

.comment-respond input[type="email"],
.comment-respond input[type="text"],
.comment-respond input[type="url"] {
    width: 50%;
}

.comment-respond label {
    display: block;
    margin-right: 12px;
}

.entry-comments .comment-author {
    margin-bottom: 0;
}

.entry-pings .reply {
    display: none;
}

.bypostauthor {}

.form-allowed-tags {
    background-color: #f5f5f5;
    font-size: 16px;
    padding: 24px;
}


/* # Sidebars
---------------------------------------------------------------------------------------------------- */

.sidebar {
    font-size: 16px;
}

.sidebar li {
    border-bottom: 1px dotted #ddd;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.sidebar p:last-child,
.sidebar ul > li:last-child {
    margin-bottom: 0;
}

.sidebar .widget {
    background-color: #fff;
    margin-bottom: 40px;
    padding: 40px;
}


/* # Footer Widgets
---------------------------------------------------------------------------------------------------- */

.footer-widgets {
    background-color: #242424;
    clear: both;
    padding-top: 40px;
    padding-bottom: 40px;
}

.footer-widgets,
.footer-widgets a {
    color: #b2b7c2;
    vertical-align: top;
}

.footer-widgets input {
    border: 1px solid #333;
}

.footer-widgets a.button,
.footer-widgets a:hover {
    color: #fff;
}

.footer-widgets ul {
    padding-left: 0;
}

.footer-widgets li {
    border-bottom: 1px dotted #666;
    margin-bottom: 10px;
    padding-bottom: 10px;
    list-style-type: none;
}

.footer-widgets .widget {
    margin-bottom: 10px;
}

.footer-widgets p:last-child {
    margin-bottom: 0;
}

.footer-widgets-1,
.footer-widgets-2,
.footer-widgets-3 {
    width: 315px;
    padding-right: 30px;
}

.footer-widgets-1 {
    margin-right: 35px;
}

.footer-widgets-1,
.footer-widgets-2 {
    float: left;
    border-right: 1px dotted #666;
}

.footer-widgets-3 {
    float: right;
}

.footer-widgets-2 img {
    margin-right: 10px;
}

.footer-widgets-2 a {
    font-size: 17px;
}

.simple-social-icons ul li {
    background: none !important;
    border: none !important;
    float: left;
    list-style-type: none !important;
    margin: 0 6px 6px !important;
    padding: 0 !important;
}

.simple-social-icons ul {
    margin: 0;
    padding: 0;
    display: inline-block;
}

.simple-social-icons ul li a,
.simple-social-icons ul li a:hover {
    background-color: #81d742 !important;
    border-radius: 0px;
    color: #ffffff !important;
    border: 0px #ffffff solid !important;
    font-size: 10px;
    padding: 5px;
}

.simple-social-icons ul li a {
    border: none !important;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    display: inline-block;
    font-family: 'fontello';
    font-style: normal !important;
    font-variant: normal !important;
    font-weight: normal !important;
    line-height: 1em;
    speak: none;
    text-align: center;
    text-decoration: none !important;
    text-transform: none !important;
    width: 1em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.footer-widgets .widget {
    margin-bottom: 40px;
}

.widget {
    word-wrap: break-word;
}

input[type="submit"]:hover,
.button:hover {
    background-color: #e5554e;
    color: #fff;
}

.form_subs_btm .input {
    background-color: #fff;
    border: 1px solid #ddd;
    color: #333;
    font-size: 18px;
    font-weight: 300;
    padding: 5px 16px;
    width: 100%;
}

.form_subs_btm .button {
    background-color: #e5554e;
    color: #fff;
    padding: 6px 25px;
    text-transform: uppercase;
}

#menu-footer-nav {
    margin: 0;
}

.widget-area {
    border-right: 1px dotted #666;
}


/* # Site Footer
---------------------------------------------------------------------------------------------------- */

.site-footer {
    background-color: #fff;
    font-size: 16px;
    line-height: 1;
    padding: 0px 0;
    text-align: center;
}

.site-footer p {
    margin-bottom: 0;
}

#menu-footer-nav {
    text-align: center;
    border-bottom: 1px dotted #666;
}

#menu-footer-nav li {
    display: inline-block;
}

#menu-footer-nav a {
    font-weight: 300;
    display: block;
    padding: 18px 21px;
    color: #fff;
    font-size: 16px;
}

.footerwidgetheader-container {
    background-color: #242424;
}


/*
Animated Search Form
---------------------------------------------------------------------------------------------------- */

.nav-header .genesis-nav-menu > .search {
    display: inline-block;
    position: relative;
    width: auto;
    padding: 0;
}

li a.icon-search:before {
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    text-decoration: inherit;
    content: "\f002";
}

li a.icon-search {
    cursor: pointer;
}


/*li a.icon-search:hover {
	border-bottom: none;
}*/

.search-div {
    display: none;
    position: absolute;
    z-index: 10;
    right: 0;
    width: 300px;
    padding: 10px;
    -webkit-border-radius: 0 0 6px 6px;
    border-radius: 0 0 6px 6px;
    background: #0F9C57;
}

.search-div .search-form {
    position: relative;
}

.search-div .search-form input[type="search"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
}

.search-div .search-form input[type="submit"] {
    position: absolute;
    right: -1px;
    bottom: 1px;
    padding: 10px 14px;
    -webkit-border-radius: 0;
    border-radius: 0;
}


/* Clear search field placeholder text on focus */

input:focus::-webkit-input-placeholder {
    color: transparent;
}

input:focus:-moz-placeholder {
    color: transparent;
}


/* Firefox 18- */

input:focus::-moz-placeholder {
    color: transparent;
}


/* Firefox 19+ */

input:focus:-ms-input-placeholder {
    color: transparent;
}
.mce-error-response-article a {
    color: red;
}
.site-header .search{
	display: inline-block;
position: relative;
width: auto;
padding: 0;
}
.right_bg input {
    font-size: 16px;
    height: 45px;
    margin-bottom: 6px;
    padding: 4px 10px;
    font-weight: 300;
    margin: 8px 0px;
    font-family: 'open_sansregular', sans-serif;
    width: 95%;
}
.clear #mc-embedded-subscribe {
    background: #0F9C57;
    border: 1px solid #0F9C57;
    color: #fff;
    width: auto;
    text-transform: uppercase;
    font-weight: 300 !important;
    padding: 0px 25px;
}
.mc-field-group #mce-EMAIL {
    color: #000;
}
.mailchimp_form_jquery {
    position: relative;
}
.main_col .mc-field-group #mce-EMAIL {
    width: 100%;
	padding: 12px;
	padding-right: 180px;
}
.main_col #mc-embedded-subscribe {
    padding: 12px;
    position: absolute;
    top: 0px;
    right: 0px;
    width: 132px;
}
.right_bg #mce-success-response {
    position: relative;
}
.footer-widgets #mce-error-response {
    position: relative;
    padding-top: 0px;
    margin-top: -15px;  
}
.main_col #mc_embed_signup {
    padding: 0px 20%;
    margin: 30px 0px;
}
.footer-widgets #mce-EMAIL {
    width: 100%;
    padding: 5px;
    margin-top: 6px;
    margin-bottom: 30px;
}
.footer-widgets #mc-embedded-subscribe {
    padding: 4px 20px;
}
.footer-widgets #text-20 {
    margin-bottom: 0px;
}
.search-div{
-webkit-transition: all 0.2s ease-in-out;
-moz-transition: all 0.2s ease-in-out;
-ms-transition: all 0.2s ease-in-out;
-o-transition: all 0.2s ease-in-out;
transition: all 0.2s ease-in-out;
transition: opacity 0.4s ease 0s;
}
/*.search:hover .search-div ,.search:active .search-div ,.search:focus .search-div{
	display:block;	
}*/
.search-div .search-form input[type="submit"] {
    display: none;
}
#bs-navbar .search-form {
    margin: 0px;
}
#mce-error-response {
   color: #fff;
	position: absolute;
	padding-top: 5px;
	color: red;
	font-weight: 600;
	width: 96%;
	right: 2%;
}
#mce-success-response {
    color: #fff;
    position: absolute;
    padding-top: 27px;
    color: green;
    font-weight: 600;
    width: 97%;
    margin: 4px 0px;
    right: 1%;
}
.footer-widgets #mce-success-response {
    position: relative;
}
.right_bg #mce-error-response {
    position: relative;
}
/* oldIE ;) */

@media (max-width: 767px) {
    .navbar-toggle {
        margin-top: 22px;
        margin-bottom: 24px;
    }
    .navbar-right li a {
        font-weight: 400;
        display: block;
        color: #fff;
        padding: 14px 18px;
        font-size: 17px;
    }
}

@media (max-width: 480px) {
    .cont_div {
        display: inline-block;
    }
    #menu-footer-nav {
        padding: 0
    }
    .main_div .img_div {
        float: left;
        padding: 1px 10px;
    }
    .subscr_sect .subs_form {
        background: rgba(0, 0, 0, 0) none repeat scroll 0 0 !important;
        display: inline-block;
        margin: 0 auto;
        max-width: 670px;
        width: 100%;
        padding: 6px;
        margin-top: 15px;
		padding-bottom: 20px;
    }
    .subscr_sect .submit_bx {
        float: none;
        margin-left: 0px;
    }
    .right_bg {
        display: none;
    }
    .subscr_sect .input {
        float: left;
        height: 54px;
        margin-bottom: 16px;
        width: 100%;
        padding: 10px;
    }
    .subscr_sect p br {
        display: none;
    }
    .boxes_rw .boxes_col {
        float: left;
        margin-right: 0px;
        width: 100%;
    }
    .boxes_rw .boxes_col.sec {
        float: right;
        margin-right: 0;
        width: 100%;
        margin-top: 15px;
    }
    .res_bx span {
        float: left;
        font-size: 16px;
        margin-right: 4px;
        width: 100%;
    }
    .navbar-right li a {
        font-weight: 400;
        display: block;
        color: #fff;
        padding: 14px 18px;
        font-size: 17px;
    }
    .navbar-toggle {
        margin-top: 22px;
        margin-bottom: 24px;
    }
    .subscr_sect .main_col {
        text-align: center;
        padding: 20px 9px;
    }
     .main_col #mc_embed_signup {
        padding: 0px 3%;
        margin: 30px 0px;
    }
    .main_col #mc-embedded-subscribe {
        padding: 12px;
        position: absolute;
        top: 56px;
        right: 0px;
        width: 100%;
    }
    .subscr_sect .main_col h2{
        padding-top: 0px;
    }
    .main_col #mc-embedded-subscribe {
        padding: 12px;
        position: relative;
        top: 0px;
        right: 0px;
        width: 100%;
    }
     .main_col .mc-field-group #mce-EMAIL {
        padding-right: 7px;
    }
    .textwidget img {
        width: 100%;
    }

}

@media (max-width: 360px) {
    .site-header {
        background-color: #0f9c57;
        min-height: 63px;
    }
    .navbar-brand > img {
        width: 234px !important;
    }
    .navbar-toggle {
        margin-top: 15px;
        margin-bottom: 8px;
    }
}